.cart {
  padding: 35px;
  box-shadow: 0px 3px 5px rgba(0, 5, 19, 0.9);
}
.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  background-color: rgba(128, 128, 128, 0.226);
  border-radius: 6px;
  justify-content: space-between;
}
.cart-item img {
  width: 50px;
  border-radius: 6px;
}
.cartprice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  float: right;
  color: black;
  margin: 45px 50px 0px 0px;
  float: right;
}
.cart-item h4 {
  margin: 5px 0px;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 25px 100px 0px 0px;
}
.cart-list {
  margin: 0px 2px 15px 2px;
}
.cartmessage h1 {
  margin: 0px 0px 15px 0px;
}
.checkout {
  color: #fbfcff;
  background-color: #1b203d;
  border: solid;
  border-radius: 6px;
  font-weight: bold;
  height: 50px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 7px;
  margin: auto;
  width: 50%;
  display: block;
  text-align: center;
}
.browse {
  color: #fbfcff;
  background-color: #1b203d;
  border: solid;
  border-radius: 6px;
  font-weight: bold;
  height: 50px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 7px;
  margin: 15px;
  width: 50%;
  display: block;
  text-align: center;
}
.checkout:hover {
  cursor: pointer;
}
.total {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 50px 10px 10px;
  font-weight: bolder;
  font-size: 20px;
  float: right;
  display: none;
}
