@font-face {
	font-family: Raleway;
	src: url("https://fonts.google.com/specimen/Raleway");
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
	background-color: #f4f6fc;
	margin: 0;
	padding: 0;
}
main {
	margin: 0 12% 0 12%;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 850;
	font-size: 50px;
	color: #1b203d;
	margin: 0%;
	padding-top: 2%;
}
.logo {
	grid-area: logo;
	padding: 6px;
}

.logo img {
	max-width: 100%;
	max-height: 100%;
}

.search {
	grid-area: search;
}
input {
	width: 100%;
	height: 40px;
	margin-top: 40px;
	font-size: 30px;
}
.user {
	grid-area: user;
}
.user-icon {
	background-color: #1b203d;
	margin-top: 50px;
	padding: 20px;
	color: #fff;
}

.navbar {
	grid-area: navbar;
}

header {
	display: grid;
	grid-template-areas:
		"logo search search search user"
		"navbar navbar navbar navbar navbar";
	grid-template-columns: 250px auto auto auto 200px;
	grid-gap: 2px;
	max-width: 100%;
	padding: 0 12% 0 12%;
	background-color: #859fa8;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 900px) {
	header {
		padding: 0;
	}

	main {
		margin: 0;
	}

	.navbar {
		display: none;
	}
}

.grid-container > div {
	text-align: center;
	font-size: 30px;
}

ul {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #1b203d;
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	list-style-type: none;
}

li {
	border: 0.05em solid #859fa8;
	flex-grow: 1;
	flex-shrink: 1 auto;
	flex-basis: 100%;
	background-color: #1b203d;
	border-radius: 5px 5px 0px 0px;
}

li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #f4f6fc;
}

li a:hover:not(.active) {
	text-decoration: underline;
}
p {
	font-family: "Raleway", sans-serif;
	font-weight: 450;
	font-size: 20px;
	color: #1b203d;
	margin: 0%;
	padding-top: 1%;
}
h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 50px;
	color: #1b203d;
}
.contactinfo {
	background-color: #fbfcff;
	border-radius: 12px;
	border-color: rgba(27, 32, 61);
	border: solid;
	border-width: 3px;
	height: 55px;
	width: 50%;
	min-width: 200px;
	margin: 0.5% 0%;
	box-shadow: 5px 8px 5px rgba(0, 0, 0, 16%);
	font-size: 20px;
	padding-left: 1%;
	font-family: "Raleway", sans-serif;
	font-weight: normal;
}

.userquestion {
	background-color: #fbfcff;
	border-radius: 12px;
	border: solid;
	border-width: 3px;
	height: 200px;
	width: 50%;
	min-width: 200px;
	box-shadow: 5px 8px 5px rgba(0, 0, 0, 16%);
	font-size: 20px;
	font-family: "Raleway", sans-serif;
	font-weight: normal;
	padding-left: 1%;
	padding-top: 1%;
	text-align: left;
	vertical-align: top;
}
textarea {
	background-color: #fbfcff;
	border-radius: 12px;
	border: solid;
	border-width: 3px;
	height: 200px;
	width: 50%;
	box-shadow: 5px 8px 5px rgba(0, 0, 0, 16%);
	font-size: 20px;
	font-family: "Raleway", sans-serif;
	font-weight: normal;
	padding-left: 1%;
	padding-top: 1%;
	text-align: left;
	vertical-align: top;
}
/* Fjern outlines på input/forms   */
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
fieldset {
	border: none;
	padding: 0px;
	max-height: 100%;
	opacity: 48%;
	display: grid;
}
::placeholder {
	font-size: 20px;
	color: #1b203d;
}
.container {
	display: grid;
	grid-gap: 1em;
	grid-template-areas: "contactform information";
	grid-template-columns: auto, auto;
	width: 100%;
}
.information {
	display: grid;
	grid-area: information;
}
.contactform {
	grid-area: contactform;
}
