.products {
  display: grid;
  grid-template-areas: "1 2 3 4 5 6";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  width: calc(100%-80px);
  height: auto;
  margin-top: 15px;
}

.product {
  position: relative;
}

.product-price {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 700;
  font-size: 25px;
  color: #1b203d;
  letter-spacing: -1px;
  width: 100%;
}

.prodname {
  font-weight: normal;
  font-size: 20px;
  color: #1b203d;
  text-transform: none;
  font-family: "RalewayBold", sans-serif;
  margin: 0;
}

.addcart-button {
  color: #1b203d;
  background-color: #fbfcff;
  border: solid;
  border-radius: 6px;
  font-weight: bold;
  height: 50px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin-top: 300px;
  transition: 0.2s ease;
  position: absolute;
  bottom: -50px;
}

.addcart-button:hover {
  cursor: pointer;
  color: #fbfcff;
  background-color: #1b203d;
  border: none;
  font-size: 16px;
}
.addcart-button2 {
  color: #1b203d;
  background-color: #fbfcff;
  border: solid;
  border-radius: 6px;
  font-weight: bold;
  height: 50px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin-top: 300px;
  transition: 0.2s ease;
  position: absolute;
  bottom: -50px;
}
.addcart-button2:hover {
  cursor: pointer;
  color: #fbfcff;
  background-color: #1b203d;
  border: none;
  font-size: 16px;
}
.product img {
  width: 100%;
  height: auto;
  min-width: 100px;
}

.plusprice {
  text-transform: uppercase;
  font-family: "RalewayBold", sans-serif;
  margin: 0;
  font-size: 15px;
  color: #4e4e4e;
  letter-spacing: 0px;
  margin-top: 5px;
}

.linebreak {
  border-top: #b1b1b1;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  margin: 80px 0px 60px 0px;
  opacity: 0.7;
}

.category-products {
  display: grid;
  grid-template-areas: "1 2 3";
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 40px;
  height: auto;
}

.preorders {
  grid-area: 1;
  display: flex;
  flex-direction: column;
  height: auto;
}

.nearlyNew {
  display: flex;
  flex-direction: column;
  height: auto;
}

.bestSellers {
  display: flex;
  flex-direction: column;
  height: auto;
}

.productwrap {
  height: 203px;
  border-top: #b1b1b1;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  min-width: 100%;
  margin: 30px 0px;
  position: relative;
}

.phototag {
  float: left;
  margin-right: 15px;
  position: relative;
}

.prelabel {
  background-color: #ffab40;
  position: absolute;
  font-family: "RalewayBold", sans-serif;
  font-size: 10px;
  font-style: italic;
  color: #1b203d;
  padding: 8px 3px;
  bottom: 33px;
  right: 0px;
}

.nowrap {
  white-space: nowrap;
}

.textwrap {
  position: absolute;
  bottom: 10px;
  left: 145px;
}

span {
  text-transform: uppercase;
  font-family: "RalewayBold", sans-serif;
  display: block;
  font-size: 17px;
  color: #4e4e4e;
}
.arialprice p {
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 700;
  font-size: 25px;
  color: #1b203d;
  letter-spacing: -1px;
  width: 100%;
}
.arialprice p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.discount {
  display: flex;
  flex-direction: row;
}

.oldprice {
  color: #4e4e4e;
  text-decoration: line-through;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 17px;
}

.percenttag {
  background-color: #ffab40;
  color: #1b203d;
  display: inline;
  padding: 2px 3px;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-left: 10px;
  height: 20px;
}

.divider {
  height: 30px;
}

/* MEDIAQUERIES */
/* //////////////////////////// */

@media only screen and (max-width: 1400px) {
  .category-products {
    display: grid;
    grid-template-areas:
      "1"
      "2"
      "3";
    grid-template-columns: 1fr;
    width: 100%;
    grid-gap: 40px;
    height: auto;
    margin: auto;
  }
  .nowrap {
    white-space: normal;
  }
  .addcart-button2 {
    width: 50%;
  }
  @media only screen and (max-width: 1200px) {
    .products {
      display: grid;
      grid-template-areas:
        "1 2 3"
        "4 5 6";
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 75px 5px;
      width: 100%;
      height: auto;
    }
  }
  @media only screen and (max-width: 500px) {
    .products {
      display: grid;
      grid-template-areas:
        "1 2"
        "3 4"
        "5 6";
      grid-template-columns: 1fr 1fr;
      grid-gap: 75px 5px;
      width: 100%;
      height: auto;
    }
    .addcart-button2 {
      width: 100%;
    }
  }
}
